


<div class="factContainer">
    <div class="dot top left"></div>
    <div class="dot top right"></div>
    <div class="dot bot right"></div>
    <div class="dot bot left"></div>
    <h2 class="nomargin">Fun fact!</h2>
    <div class="stripe"></div>
    <div class="stripe2"></div>

    <div class="factInnerContainer">
        <h4 class="nomargin leftpadright fact">{{question.fact}}</h4>
    </div>
    
    <p class="link leftpadright" (click)=showQR()>
        Find out more at <strong>{{question.link}}</strong>,or 
        tap here for a QR code!
    </p>
</div>


